body {
  margin: 60px 0 0 60px; }

.timeline--info {
  width: 200px;
  float: left; }

.timeline--info-date {
  font-size: 12px;
  font-weight: bold;
  color: #D5D9DD;
  text-align: right;
  margin-right: 5px; }

.timeline--info-time {
  font-size: 50px;
  color: #93C3E9;
  text-align: right; }

.timeline--line {
  width: 30px;
  float: left; }

.timeline--line-dot {
  width: 30px;
  height: 30px;
  border: 5px solid #80C0E9;
  border-radius: 50%;
  background-color: #5096C6;
  margin-left: 5px;
  margin-top: 1px; }

.timeline--line-bar {
  width: 8px;
  height: 325px;
  background-color: #B8DCF5;
  margin-left: 20px; }

.timeline--content-box {
  width: 700px;
  height: 350px;
  background-color: #80C0E9;
  margin-left: 20px;
  margin-top: 10px;
  float: left; }

.timeline--title {
  font: Verdana;
  width: 675px;
  color: white;
  text-align: left;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 10px; }

.timeline--bar {
  width: 620px;
  height: 1px;
  margin-left: 30px;
  background-color: white; }

.timeline--content {
  font: Verdana;
  font-size: 20px;
  width: 620px;
  margin-left: 30px;
  color: white;
  text-align: left; }

.timeline:nth-child(even) .timeline--content-box {
  background-color: #000; }

.clearfix {
  overflow: auto;
  zoom: 1; }
